{% extends 'student/base.html'  %}


{% block title  %}
    Students | All
{% endblock title  %}

{%  block content  %}

<h1> All Students </h1>
<!-- <h2> All Students </h2> -->
 <table border="1", width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
              <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.title}}</td>
            </tr>
        {% endfor %}
    </tbody>
 </table>


{%  endblock content %}
